@import '../../styles/colors.scss';

.textField {
  background: $color-neutral-two;
  border-radius: 5px;
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  color: $color-neutral-three;
  
  &:focus, &:focus-visible {
    color: $color-neutral-four;
  }
}