@import '../../styles/colors.scss';

.iconButton {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: $color-neutral-one;
  fill: $color-secondary;
  border: none;

  &:hover {
    background: $color-button-secondary-hover;
    fill: $color-neutral-one;
  }

  &:active {
    background: $color-button-secondary-active;
    fill: $color-neutral-one;
  }

  &:disabled {
    background: $color-button-secondary-disabled;
    fill: $color-neutral-one;
  }
}

.icon {
  fill: inherit;
  & * {
    fill: inherit;
  }
}